# ===================================================================
# tpRigToolkit-tools-interpolateit requirements file
# ===================================================================
tpRigToolkit-core